.vagrant
Vagrantfile
.project
.settings
.classpath
*/data
*/data/
target
*.ec
*.ipr
*.iws
*.swp
*~
*.log
.idea/
*.sqlite
*.out
git.properties
lib
*/.idea

.DS_Store

.history.idea
.idea_modules
project/boot
src/main/generated_scala